@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Special Elite', cursive;
    box-sizing: border-box;
}

html{
    background-color: #C8D3D5
}

h1{
    width: 100%;
    padding: 25px;
    text-align: center;
    font-size: 75px;

}

.intro{
    margin-left: 20%;
    margin-right: 20%;
    padding: 25px;
    text-align: center;
    background-color: #A4B8C4;
    border:5px solid #6E8387;
    border-radius: 5px;
}

#continue-btn{
    padding: 10px;
}

#wiki-link{
    color: black;
}

#wiki-link:hover{
    padding-left: 50px;
    padding-right: 50px;
    font-weight: bold;
    background: radial-gradient(circle, rgba(12,202,74,1) 0%, rgba(164,184,196,1) 100%);
}